@CHARSET "UTF-8";

.wrapper {
	margin: 0;
	padding: 0;
	font-size: 12px;
}

.head {
	margin-top: 5px;
}

.blank_a {
	margin-top: 0px;
	height: 20px;
}

.content {
	padding-left:380px;
	margin-top: 0px;
}

.logo_css01 {
	margin-top: 0px;
	margin-left: 0px;
	height: 45px;
	width: 600px;
}

.blueLogo_a {
	margin-left: 2px;
	margin-top: 0px;
	height: 33px;
	width: 600px;
	background-image: url(../../images/register_logo/register_img002.gif);
}

.title_a {
	padding-top: 10px;
	padding-left: 10px;
	font-size: 14px;
	color: #FFFFFF;
}

.line0 {
	padding-left: 0px;
	padding-top: 0px;
}

.line1,.line2,.line3,.line4 {
	margin-top: 20px;
}

#errormessage {
	height: 20px;
	display: block;
	color: red;
	font-size: 16px;
}

.r_form {
	margin-top: 0px;
	margin-left: 2px;
	padding-top: 30px;
	width: 600px;
	height: 180px;
	text-align: center;
	font-family: "新宋体";
	border:1px solid #0099FF;
}

.username_label,.password_label,.email_label,.confPassword_label {
	padding-top: 0px;
	padding-left: 0px;
}

.username_text,.password_text,.email_text,.confPassword_text {
	color: #000000;
	border-color: #999999;
	font-family: arial, "宋体";
}

.doSubmit {
	margin-left: 0px;
	border: none;
	width: 120px;
	height: 30px;
	color: #FFFFFF;
	font-size: 14px;
	background-image: url(../../images/register_logo/dosubmit.gif);
	background-position: bottom;
}

.tail {
	padding-left: 0px;
}