<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name></display-name>
	 <session-config>
         <session-timeout>10</session-timeout>
    </session-config>
	
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>com.pocketclass.web.controller.RegisterServlet</servlet-class>
	</servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.pocketclass.web.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterEmailBackServlet</servlet-name>
    <servlet-class>com.pocketclass.web.controller.RegisterEmailBackServlet</servlet-class>
  </servlet>
  <servlet>
		<servlet-name>RegisterEmailServlet</servlet-name>
		<servlet-class>com.pocketclass.web.controller.RegisterEmailServlet</servlet-class>
	</servlet>
  <servlet>
    <servlet-name>PasswordEmailServlet</servlet-name>
    <servlet-class>com.pocketclass.web.controller.PasswordEmailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PasswordEmailBackServlet</servlet-name>
    <servlet-class>com.pocketclass.web.controller.PasswordEmailBackServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <servlet-class>com.pocketclass.web.controller.ResetPasswordServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>com.pocketclass.web.controller.ImageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ConflictDataCheckServlet</servlet-name>
    <servlet-class>com.pocketclass.web.controller.ConflictDataCheckServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifyPasswordServlet</servlet-name>
    <servlet-class>com.pocketclass.web.controller.customer.ModifyPasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifyEmailServlet</servlet-name>
    <servlet-class>com.pocketclass.web.controller.customer.ModifyEmailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserInfoServlet</servlet-name>
    <servlet-class>com.pocketclass.web.controller.customer.UserInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReadUserInfoServlet</servlet-name>
    <servlet-class>com.pocketclass.web.UI.ReadUserInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindVideoSeriesServlet</servlet-name>
    <servlet-class>com.pocketclass.web.controller.videos.FindVideoSeriesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SeriesDetailServlet</servlet-name>
    <servlet-class>com.pocketclass.web.controller.videos.SeriesDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FavoCourseServlet</servlet-name>
    <servlet-class>com.pocketclass.web.controller.customer.FavoCourseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FavoOtherServlet</servlet-name>
    <servlet-class>com.pocketclass.web.controller.customer.FavoOtherServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>VideoDownLoadServlet</servlet-name>
    <servlet-class>com.pocketclass.web.controller.videos.VideoDownLoadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LearnServlet</servlet-name>
    <servlet-class>com.pocketclass.web.controller.customer.LearnServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddCommentServlet</servlet-name>
    <servlet-class>com.pocketclass.web.controller.videos.AddCommentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.pocketclass.web.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddFavoServlet</servlet-name>
    <servlet-class>com.pocketclass.web.controller.customer.AddFavoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchVideoServlet</servlet-name>
    <servlet-class>com.pocketclass.web.controller.videos.SearchVideoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmailMailBackServlet</servlet-name>
    <servlet-class>com.pocketclass.web.controller.EmailMailBackServlet</servlet-class>
  </servlet>
 <servlet>
    <servlet-name>VideoPlayServlet</servlet-name>
    <servlet-class>com.pocketclass.web.controller.videos.VideoPlayServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Main</servlet-name>
    <servlet-class>com.pocketclass.web.controller.videos.Main</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MsgServlet</servlet-name>
    <servlet-class>com.pocketclass.web.controller.customer.MsgServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NoteCenterServlet</servlet-name>
    <servlet-class>com.pocketclass.web.controller.notes.NoteCenterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NotesInASuperServlet</servlet-name>
    <servlet-class>com.pocketclass.web.controller.notes.NotesInASuperServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserNoteCenterServlet</servlet-name>
    <servlet-class>com.pocketclass.web.controller.notes.UserNoteCenterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchUserNoteServlet</servlet-name>
    <servlet-class>com.pocketclass.web.controller.notes.SearchUserNoteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchNoteServlet</servlet-name>
    <servlet-class>com.pocketclass.web.controller.notes.SearchNoteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MsgContentServlet</servlet-name>
    <servlet-class>com.pocketclass.web.controller.customer.MsgContentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MakeNotesServlet</servlet-name>
    <servlet-class>com.pocketclass.web.controller.notes.MakeNotesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserNotesInACustomServlet</servlet-name>
    <servlet-class>com.pocketclass.web.controller.notes.UserNotesInACustomServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManageCategoriesServlet</servlet-name>
    <servlet-class>com.pocketclass.web.controller.notes.ManageCategoriesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DisplayNoteServlet</servlet-name>
    <servlet-class>com.pocketclass.web.controller.notes.DisplayNoteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StoreModifyCategoriesServlet</servlet-name>
    <servlet-class>com.pocketclass.web.controller.notes.StoreModifyCategoriesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ForumsIndexServlet</servlet-name>
    <servlet-class>com.pocketclass.web.controller.forums.ForumsIndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteNoteServlet</servlet-name>
    <servlet-class>com.pocketclass.web.controller.notes.DeleteNoteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DisplayArchiveServlet</servlet-name>
    <servlet-class>com.pocketclass.web.controller.notes.DisplayArchiveServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ForumsServlet</servlet-name>
    <servlet-class>com.pocketclass.web.controller.forums.ForumsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PublishNotesServlet</servlet-name>
    <servlet-class>com.pocketclass.web.controller.notes.PublishNotesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ForumsListServlet</servlet-name>
    <servlet-class>com.pocketclass.web.controller.forums.ForumsListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditNoteServlet</servlet-name>
    <servlet-class>com.pocketclass.web.controller.notes.EditNoteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PublishCommentServlet</servlet-name>
    <servlet-class>com.pocketclass.web.controller.notes.PublishCommentServlet</servlet-class>
  </servlet>


















	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/servlet/RegisterServlet</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterEmailServlet</servlet-name>
    <url-pattern>/servlet/RegisterEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterEmailBackServlet</servlet-name>
    <url-pattern>/servlet/RegisterEmailBackServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PasswordEmailServlet</servlet-name>
    <url-pattern>/servlet/PasswordEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PasswordEmailBackServlet</servlet-name>
    <url-pattern>/servlet/PasswordEmailBackServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <url-pattern>/servlet/ResetPasswordServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/servlet/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConflictDataCheckServlet</servlet-name>
    <url-pattern>/servlet/ConflictDataCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyPasswordServlet</servlet-name>
    <url-pattern>/servlet/ModifyPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyEmailServlet</servlet-name>
    <url-pattern>/servlet/ModifyEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserInfoServlet</servlet-name>
    <url-pattern>/servlet/UserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReadUserInfoServlet</servlet-name>
    <url-pattern>/servlet/ReadUserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindVideoSeriesServlet</servlet-name>
    <url-pattern>/servlet/FindVideoSeriesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SeriesDetailServlet</servlet-name>
    <url-pattern>/servlet/SeriesDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FavoCourseServlet</servlet-name>
    <url-pattern>/servlet/FavoCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FavoOtherServlet</servlet-name>
    <url-pattern>/servlet/FavoOtherServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>VideoDownLoadServlet</servlet-name>
    <url-pattern>/servlet/VideoDownLoadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LearnServlet</servlet-name>
    <url-pattern>/servlet/LearnServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCommentServlet</servlet-name>
    <url-pattern>/servlet/AddCommentServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/servlet/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddFavoServlet</servlet-name>
    <url-pattern>/servlet/AddFavoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchVideoServlet</servlet-name>
    <url-pattern>/servlet/SearchVideoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmailMailBackServlet</servlet-name>
    <url-pattern>/servlet/EmailMailBackServlet</url-pattern>
  </servlet-mapping>
	<servlet-mapping>
    <servlet-name>VideoPlayServlet</servlet-name>
    <url-pattern>/servlet/VideoPlayServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Main</servlet-name>
    <url-pattern>/servlet/Main</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MsgServlet</servlet-name>
    <url-pattern>/servlet/MsgServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NoteCenterServlet</servlet-name>
    <url-pattern>/servlet/NoteCenterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NotesInASuperServlet</servlet-name>
    <url-pattern>/servlet/NotesInASuperServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserNoteCenterServlet</servlet-name>
    <url-pattern>/servlet/UserNoteCenterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchUserNoteServlet</servlet-name>
    <url-pattern>/servlet/SearchUserNoteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchNoteServlet</servlet-name>
    <url-pattern>/servlet/SearchNoteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MsgContentServlet</servlet-name>
    <url-pattern>/servlet/MsgContentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MakeNotesServlet</servlet-name>
    <url-pattern>/servlet/MakeNotesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserNotesInACustomServlet</servlet-name>
    <url-pattern>/servlet/UserNotesInACustomServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManageCategoriesServlet</servlet-name>
    <url-pattern>/servlet/ManageCategoriesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DisplayNoteServlet</servlet-name>
    <url-pattern>/servlet/DisplayNoteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StoreModifyCategoriesServlet</servlet-name>
    <url-pattern>/servlet/StoreModifyCategoriesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForumsIndexServlet</servlet-name>
    <url-pattern>/servlet/ForumsIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteNoteServlet</servlet-name>
    <url-pattern>/servlet/DeleteNoteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DisplayArchiveServlet</servlet-name>
    <url-pattern>/servlet/DisplayArchiveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForumsServlet</servlet-name>
    <url-pattern>/servlet/ForumsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PublishNotesServlet</servlet-name>
    <url-pattern>/servlet/PublishNotesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForumsListServlet</servlet-name>
    <url-pattern>/servlet/ForumsListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditNoteServlet</servlet-name>
    <url-pattern>/servlet/EditNoteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PublishCommentServlet</servlet-name>
    <url-pattern>/servlet/PublishCommentServlet</url-pattern>
  </servlet-mapping>

  
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
    <filter>
        <filter-name>AutoLoginFilter</filter-name>
        <filter-class>com.pocketclass.web.filter.AutoLoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AutoLoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
</web-app>